.spacer {
  flex: 1 1 auto;
  align-items: baseline;
}
.flex-bee {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

ml-5 {
  margin-left: 25px !important;
}
