/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  width: 80%;
  height: 100%;
  margin-top: 2rem;
}
.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

